//  cd /d d:\web\lndng less-watch-compiler less css

@lgray: #607D8B;
@lime: #CDDC39;
@dgray: #212121;
@ltxt: #fff;
@dtxt: #000;
@price: 60px;
@limetr: rgba(205, 220, 57, 0.5);
@fmain: 'Patua One';


html::-webkit-scrollbar { width: 0 }
html { -ms-overflow-style: none; }

*{
  box-sizing: border-box;
  border: 0px solid;
  margin: 0px;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {

  overflow-x: hidden;
}

.navigation {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #CDDC39;
  margin: auto;
  z-index: 100;
}



.shrunk {
  height: 35px;
  background-color: @lgray;
  transition: 0.2s;
}


.logo {
  background-color: #607D8B;
  display: flex;
  height: 100%;
  float: left;
  padding: 0 50px;
  margin: auto;
}

h1 {
  font-size: 3em;
  font-family: 'Patua One';
}
.big-slogan p {
  color: #CDDC39;
}

.logo span {
  font-size: 1.2em;
  resize: vertical;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.logo1 {
  line-height: 5px;
  font-family: 'Patua One';
  color: #CDDC39;
}

.logo2 {

  line-height: 5px;
  font-family: 'Patua One';
  color: #fff;
}

.nvg-list {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nvg-list li {

  display: flex;
  height: 100%;
  list-style-type: none;
  margin: auto;
  transition: 0.2s;

}
.nvg-list a {
  color: #fff;
  text-decoration: none;
  margin: auto;
  padding: 0px 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.navtxt {
  font-size: 1em;
  transition: 0.2s;
}



.list {
  cursor: pointer;
}

.nvgh {
  background-color: #607D8B;
}

.navicon {
  cursor: pointer;
  z-index: 110;
  display: none;
}

.navicon a {
  text-decoration: none;
  color: @ltxt;
  transform: scale(1.25);
}

.navicon:hover {
  background-color: @lgray;
}
.navicon:hover a {
  color: @lime;
}

.navtxth {
  font-size: 0.85em;
  transition: 0.2s;
}

@media only screen and (max-width: 850px){

  .navicon {
    float: right;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nvg-list {
    display: none;
  }

}

//---------------------------------- content-block1 ---------------------------------------------

.slide-container {

  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.content-block{
  position: absolute;
  width: 100%;
  height: 900px;
  padding: 70px;
}

.big-slogan h1 {
  font-size: 4em;
  margin-top: 200px;
  color: @ltxt;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.blockone {
 opacity: 0;
 background: url("../img/road.jpg") center no-repeat;
 background-size: cover;
 z-index: 15;

}

.blocktwo {
 opacity: 0;
 background: url("../img/pwrln.jpg") center no-repeat;
 background-size: cover;
 z-index: 10;

}

.blockthree {
 opacity: 0;
 background: url("../img/wndml.jpg") bottom no-repeat;
 background-size: cover;
 z-index: 5;

}


.dothold {
  position: absolute;
  top: 850px;
  z-index: 20;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid;
  border-color: @lime;
  display: inline-block;
  margin: 0 3px;
}

.active, .dot:hover {
  background-color: @lime;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 500px;
  width: auto;
  margin-top: -22px;
  padding: 16px;

  color: @lime;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 30;
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.fade {
  transition: 0.4s;

}


@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

//---------------------------------- content-block2 ---------------------------------------------

.content-block2 {
  background-color: #212121;
  display: flex;
  height: 600px;

}

.card {
  background-size: cover;
  background-position: center;
  width: calc(100%/7);
  height: 100%;
  transition: 0.05s;
}
.cardh {
  z-index: 300;
  width: 30%;
  transition: 0.25s;
}


.p-name {
  margin-top: 20px;
  color: #fff;
  max-width: 70px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  transition: 0.15s;
}

.p-nameh {
  font-size: 2rem;
  max-width: 120px;
  transition: 0.15s;
}


.cover {
  background-color: rgba(65, 60, 60, 0.5);
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: 0.15s;
}

.price {
  opacity: 0;
  position: absolute;
  margin-top: 540px;
  width: 60px;
  height: 60px;
  background-color: #CDDC39;
  line-height: 60px;
  border-radius: 30px;
  box-shadow: 2px 2px 20px #000;
  text-decoration: none;
  transition: 0.15s;
}

.priceh {
  width: 100px;
  transition: 0.15s;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.priceshow {
  opacity: 1;
  transition: 0.2s;
}

.hover {
  background-color: rgba(205, 220, 57, 0);
  color: #000;
  transition: background-color 0.5s ease;
}

@media only screen and (max-width: 850px){

  .content-block2 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .card {
    width: 100%;
    height: 110px;
  }

  .cardh {
    transform: scale(1.5);
  }

  .cover {
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .price {
    margin: auto;
  }

  .p-name {
    font-size: 2rem;
    margin-top: 0;
    max-width: 100%;
  }

  .p-nameh {
    opacity: 0;
    margin-left: -20%;
    font-size: 1.5rem;
    transition: 0.15s;
  }


}

//---------------------------------- content-block3 ---------------------------------------------


.content-block3 {
  width: 100%;
  height: 800px;
  background-color: @lgray;
}
